.wrapper {
    position: relative;
    
    &:hover .hover {
        display: block;
    }
}
.content {
    width: 100%;
    height: 48px;
    // background-color: rgb(22 24 35 /0.03);
    border-radius: 4px;
    color: rgb(22 24 35 /0.75);
    font-size: 1.4rem;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.avatar-wrapper {
    width: 18%;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.avatar > img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.title-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.title {
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 600;
}
.type-user {
    margin-left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(32 213 236);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
}
.name {
    font-size: 14px;
    font-weight: 400;
    color: rgb(22 24 35 / 0.75);
}
// hover user
.hover {
    position: absolute;
    bottom: -180px;
    left: 0;
    display: none;
    padding: 20px;
    width: 320px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 8px;
    z-index: 10;
}
.hover-avatar-wrapper {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.hover-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-avatar-wrapper img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.hover-avatar-btn {
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    min-width: 106px;
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 6px 8px;
    user-select: none;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            rgb(254, 44, 85);
    }
}
.hover-name {
    color: rgba(22, 24, 35, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
}
.follower,
.like {
    font-size: 17px;
    text-transform: capitalize;
    margin-right: 8px;
}
